$bg-color: black;
$nav-font: orange;
$base-font: 12px;


html {
	scroll-behavior: smooth;
}

body {
	background: $bg-color;
	font-family: 'Fira Sans', sans-serif;
	font-size: $base-font;
}

main {
}

section { 
	margin: 0;
	padding: 0;

	h1 {
		text-transform: uppercase;
	}
}

p {
	font-size: 1.75em;
	line-height: 2em;
	margin-top: 1em;
	text-align: justify;
	text-justify: initial;
}

a {
	font-family: 'Ubuntu Condensed', sans-serif;
}

hr {
	background-color: #4c4242;
}

em {
	color: grey;
	font-size: 1.5em;
	letter-spacing: .15em;
	font-weight: bold;

	a {

		text-transform: uppercase;
		color: #115c86;
		font-weight: bold;
	}
}

ul {

	list-style-type: none;
}

.bg-dark {
	background-color: black !important;
	// background: rgb(240,216,93);
	// background: linear-gradient(90deg, rgba(240,216,93,0.9839286056219363) 0%, rgba(245,40,144,1) 46%, rgba(101,230,251,1) 100%);
}

.navbar {
	font-family: 'Cabin', sans-serif;

	&-dark {

		.navbar {

			&-nav {


				.nav {

					&-link {
						color: $nav-font !important;
						font-size: 1.5em;
						font-weight: normal;
						margin: 0 .5em;
						padding: 0 1.5em;
						text-transform: uppercase;

							@media (max-width: 768px) {  

								font-size: 3em;
								text-align: center;
								margin: 1em 0;
							}
					}
				}

			}
		}
	}

	span {

		color: $nav-font;
		font-size: 1.85em;

		@media (max-width: 768px) {  
  			
  			font-size: 1em;
		}
	}
}

.jumbotron {
	background-color: #082542;
	color: coral;
	border-radius: 0;

	h1 {
		text-transform: capitalize;
		color: #56818f;

		@media (max-width: 768px) {  
 			text-align: center;
		}
	}

	.btn-primary {
		background-color: whitesmoke;

		a {
			color: blue;
		}
	}

	.row {
		@media (max-width: 768px) {  
 			flex-direction: column-reverse;
		}
	}

}

.btn {

	&-primary {

		a {
			color: whitesmoke;
			text-decoration: none;
		}
	}
}

.card {
	background-color: black;
	margin: .5em 0;
	border: 1px solid #03a9f43b;
}

.text-muted {
	color: #355065 !important;
    text-align: center;
    font-style: normal !important;
    margin: 0;
    font-size: 1.5em;

    a {
    	color: #895c1c;
    	font-size: 1.15em;
    }
}

#about { 
   a {
	 color :  #b09668;
	 font-size: .85em;
	 display: block;
	} 

	p {
		color : #714c3e;
		margin: 3em 3em 0 0;

		@media (max-width: 768px) {  
			margin: 0;
		}

	}

	.about {

		a {
			display: inline;
			font-size: 1em;
			margin: 0 .25em;
			letter-spacing: .1em;
		}
	}
}

#more,
#tools, 
#projects { 

	h1 {
		color: #044254;
		margin-bottom: 1em;
		text-transform: capitalize;
		letter-spacing: .15em;

			@media (max-width: 768px) {  
				text-align: center;
			}

	}

	&-button-area {

		.btn-primary {
			background-color: black;
    		border-color: black;
    		color: #8a5c1c;
    		text-transform: uppercase;
		    font-size: 1.5em;
		}
	}

	.row {

    	flex-wrap: wrap;
    	flex-flow: wrap;
    	align-content: space-between;
	}
}

.project {
	padding:0 .1em;
}

.break {
	  flex-basis: 100%;
	  width: 0;
	  margin: 0;
}

.resume-link {
	margin: 0 !important;
    text-align: center;
    padding: .5em 0;
}

.img {

	&-thumbnail {
		border: 0;
		background-color: black;
		margin: 0 auto;
	}
}

#tools {
	background-color: #082542;
	color: darkgrey;
	padding: 2em 0;
	margin: 0;

	h1 {
		color: #5d5151 !important;
	}

	ul {
		justify-content: space-around;	
		width: 100%;
	}

	li {

		color: #8a5c1c;
		font-size: 1.5em;
		margin-bottom: 1em;

		span {
			display: block;
			text-transform: uppercase;
			padding: 1em 2em;
			font-size: 1em;
			letter-spacing: .23em;
			text-align: center;
			color: #b09668;
		}

		div {
			text-align: center;
			text-transform: uppercase;
			font-size: .85em;
		}
	}

	p {
		color: #714c3e;
		font-size: 1.25em;
		text-align: center;

		a {
			color:#41668d;
		}
	}
}

#more {

	margin-top: 2em;

	.img-thumbnail {
		max-width: 40%;
	}

	p {
		color: #39515b;
	    font-size: 1.85em;
	    text-align: center;
	    width: 70%;
	    margin: 2em auto;
	}

	a {
		color: #726501;

		&:first-child {
			text-align: center;
			display: block;
		}

		&:last-child {
			text-align: left;
			display: inline-block;
		}
	}
}

.with-chevron[aria-expanded='true'] i {
  display: block;
  transform: rotate(180deg) !important;
  text-align: center;
  background-color: #044254;
}

.arrow {
	text-align: center;
    background-color: #044254;
    border-radius: 29px;
}

.col-md-3,
.col-md-9 {

	@media (max-width: 768px) {  
 		max-width: 100%;
	}
}

.col-md-3 {

	img {

		@media (max-width: 768px) {  
			 width: 25%;
    		margin: 1.5em auto 0;
    		display: block;
    	}
	}
}